/* google font */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 16px;
}

/* shard styles */
.display-flex {
    display: flex;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.text-black {
    color: #131313;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 22px 24px 20px 25px;
    background-color: #FF900E;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8125rem;
    font-weight: 700;
}

/* nav related styles */
.navbar {
    /* padding-top: 50px; */
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-size: 2.8125rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner realated styles */

.banner-contant {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    line-height: 26px;
    margin-bottom: 32px;
}

.banner-image {
    width: 100%;
}

/* team and feature related styles */

.teams {
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.team-img-container {
    display: grid;
    gap: 24px;
    border-radius: 8px;
    grid-template-columns: repeat(2, 1fr);
}

.our-featurs {
    max-width: 540px;
    padding: 10px;
}

#quick-list {
    color: #727272;
    font-weight: 500;
}

.spn-features {
    color: #FF900E;
}

.features-description {
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
}

/* feature related styles */
.feature {
    gap: 140px;
}

#feature-section-title {
    border-left: 5px solid #FF900E;
    padding: 21px;
}

.feature-card {
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}


.feature-titel {
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-description {
    line-height: 26px;
}

#experience-badge {
    font-size: 1.56rem;
    font-weight: 500;
    margin-left: -90px;
    margin-top: -150px;
    padding: 46px 42px 45px 42px;
}

#experience {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}

.feature-architect img {
    width: 100%;
}

/* some fact related styles */

.fact-description {
    line-height: 26px;
    margin-bottom: 50px;
}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.fact-card {
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid sienna;
}


/* our sponsore related styles */

.sopnsor-info {
    max-width: 550px;
    margin: 50px auto;
    text-align: center;
}

.description {
    line-height: 26px;
    line-height: 26px;
}

.sponsore-companis {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsore-companis img {
    filter: grayscale(100%);
}


/* footer related styles */

footer {
    max-width: 1440px;
    padding: 38px;
    margin: 130px auto;
    border-radius: 8px;
    background-color: #FFF4E7;
}

footer,
span {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    color: #424242;
}

/* responsive media quary */

/* smaller size device */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .teams,
    .feature {
        flex-direction: column;
    }

    .team-img-container,
    .fact-container,
    .sponsore-companis {
        grid-template-columns: repeat(1, 1fr);
    }

    .fact-container {
        justify-content: center;
        gap: 24px;
    }

    .sponsore-companis {
        justify-items: center;
        gap: 50px;
    }

    .our-featurs {
        /* margin-left: 60px; */
        text-align: center;
    }

    #experience-badge {
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 2px;
    }

}

/* medium size device  */

@media screen and (min-width:576px) and (max-width:992px) {

    .teams,
    .feature {
        flex-direction: column;
    }

    .our-featurs {
        margin: 20px auto;
    }

    .fact-container,
    .sponsore-companis {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    #experience-badge {
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 5px;
    }
}