/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 16px;
}

/* shard styles */
.display-flex {
    display: flex;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.text-black {
    color: #131313;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}



/* nav related styles */
.navbar {
    /* padding-top: 50px; */
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-size: 2.8125rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner realated styles */